{% extends "base.html" %}
{% block extra_head %}
    {% if config.build_search_index %}
        {{ macros_search::search_head() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="taxonomies">
        <h2>Tags</h2>
        <div class="taxonomies__title">
            {{ terms | length }} tags in total
        </div>
        <div class="taxonomies__items">
            {% for tag in terms %}
                <a href="{{ tag.permalink }}">
                    {{ tag.name }}
                    <span class="count">{{ tag.pages | length }}</span>
                </a>
            {% endfor %}
        </div>
        {% if config.build_search_index %}
        Didn't find what your looking for?
            {{ macros_search::search() }}
        {% endif %}
    </div>
{% endblock content %}
